body {
  background-color: #aa93e1;
}

* {
  box-sizing: border-box;
}
/* changes the calculations of the box */

.App {
  text-align: center;
  /* min-height: 100vh; */
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  display: flex;
}
/* styling for the size of the logo */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
/* media query with a preference for motion sensitivity */
/* this will run the animation defined below with a specific speed of 20 seconds to complete */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* defines the animation, which is a spin with a starting and ending point */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
  width: 100%;
}

/* .App-link {
  color: #000000;
} */