.App-logo {
  height: 7vmin;
  pointer-events: none;
  display: flex;
}

.pages {
  margin-bottom: 150px;
}

.app-wrapper {
  margin-top: 145px;
  overflow-y: scroll;
  height: 90vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: calc(5px + 2vmin);
  width: 50%;
}

.svg-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.svg-button:focus {
  outline: none;
}

.section {
  margin-bottom: 200px;
  padding-bottom: 200px;
}