.App {
  display: grid;
  place-items: center;
  align-content: center;
  overflow-y: auto;
  min-height: 275vh;
}

.pages {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: calc(100vh - var(--navbar-height));
}

.app-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--navbar-height) - 100px);
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svg-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.svg-button:focus {
  outline: none;
}

.svg-button:hover {
  transform: scale(1.3);
}


@media (max-width: 768px) {
  .pages {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .pages {
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pages {
    width: 100%;
    max-width: 600px;
  }
}