.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .bottom-bar a {
    margin: 0 10px;
  }
  
  .bottom-bar img {
    width: 100px;
    height: 100px;
  }