@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all ls;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.row {
    display: flex;
}

.col-md-4:nth-child(2){
    transition-delay: 200ms;
}

.col-md-4:nth-child(3){
    transition-delay: 400ms;
}

.col-md-4:nth-child(4){
    transition-delay: 600ms;
}








.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
.col-md-4 {
    padding-bottom: 20px;
}

.white {
    color: #fff !important;
}

.mt {
    float: left;
    margin-top: -20px;
    padding-top: 20px;
}

.bg-blue-ui {
    background-color: #000000 !important;
}

figure img {
    width: 300px;
}

#blogCarousel {
    padding-bottom: 100px;
}

.blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
}

.blog .carousel-indicators li {
    background: #006aff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #0fc9af;
}

.item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
}

.item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
}

.item-box-blog-image {
    position: relative;
}

.item-box-blog-image figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-box-blog:hover {
    border-width: 4px;
    border-color: #000000;
}

.item-box-blog-hover-theme1:hover {
    border-width: 4px;
    border-color: #fd65f8;
}

.item-box-blog-hover-theme2:hover {
    border-width: 4px;
    border-color: #41cb52;
}

.item-box-blog-hover-theme3:hover {
    border-width: 4px;
    border-color: #4de7ff;
}

.item-box-blog-hover-theme4:hover {
    border-width: 4px;
    border-color: #c8b6ff;
}

.item-box-blog-hover-theme5:hover {
    border-width: 4px;
    border-color: #a47e1b;
}
 
.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}

.item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.item-box-blog-date span.mon {
    font-size: 18px;
}

.item-box-blog-date span.day {
    font-size: 16px;
}

.item-box-blog-body {
    padding: 10px;
    color: black;
    font-weight: 550;
}

.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration: none;
    transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
    font-size: 13px;
}

.item-box-blog-data p i {
    font-size: 12px;
}

.item-box-blog-text {
    max-height: 200px;
    overflow: hidden;
}

.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #f2b0ff;
}