.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

.content-container-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: Quicksand;
  --bg-size: 400%;
  --color-one: hsl(220, 95%, 58%);
  --color-two: hsl(211, 100%, 53%);
  --color-three: hsl(198, 100%, 64%);
  --color-four: hsl(152, 100%, 56%);
  --color-five: hsl(129, 96%, 53%);
  --color-six: hsl(86, 94%, 67%);
  --color-seven: hsl(64, 100%, 59%);
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
    90deg,
    var(--color-one),
    var(--color-two),
    var(--color-three),
    var(--color-four),
    var(--color-five),
    var(--color-six),
    var(--color-seven),
    var(--color-six),
    var(--color-five),
    var(--color-four),
    var(--color-three),
    var(--color-two),
    var(--color-one)
  ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 10s infinite linear;
}

@keyframes move-bg {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}