.home-container {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.column-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.job-title {
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.email {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.applogo {
  display: flex;
  justify-content: center;
}

.column-two {
  display: flex;
  justify-content: center;
}

.column-two img {
  width: 600px;
  object-fit: cover;
  border-radius: 20%;
  border: 5px solid black;
  align-items: center;
}

.name {
  font-family: 'Press Start 2P', cursive;
  --bg-size: 400%;
  --color-one: hsl(220, 95%, 58%);
  --color-two: hsl(211, 100%, 53%);
  --color-three: hsl(198, 100%, 64%);
  --color-four: hsl(152, 100%, 56%);
  --color-five: hsl(129, 96%, 53%);
  --color-six: hsl(86, 94%, 67%);
  --color-seven: hsl(64, 100%, 59%);
  font-size: clamp(3rem, 10vw, 7rem);
  background: linear-gradient(90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-five),
      var(--color-six),
      var(--color-seven),
      var(--color-six),
      var(--color-five),
      var(--color-four),
      var(--color-three),
      var(--color-two),
      var(--color-one)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 10s infinite linear;
}

@keyframes move-bg {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}