.home-container {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  height: calc(100vh - var(--navbar-height));
  @media (max-width: 600px) {
    padding-top: 120px;
    position: relative;
    top: var(--navbar-height);
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-container-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.name {
  font-family: 'Press Start 2P', cursive;
  --bg-size: 400%;
  --color-one: hsl(220, 95%, 58%);
  --color-two: hsl(211, 100%, 53%);
  --color-three: hsl(198, 100%, 64%);
  --color-four: hsl(152, 100%, 56%);
  --color-five: hsl(129, 96%, 53%);
  --color-six: hsl(86, 94%, 67%);
  --color-seven: hsl(64, 100%, 59%);
  font-size: clamp(1.75rem, 10vw, 4rem);
  line-height: 1.2;
  background: linear-gradient(90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-five),
      var(--color-six),
      var(--color-seven),
      var(--color-six),
      var(--color-five),
      var(--color-four),
      var(--color-three),
      var(--color-two),
      var(--color-one)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 10s infinite linear;
  @media (max-width: 768px) {
    padding-top: 80px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: .9rem;
  }
}

.column-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.job-title, .email {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  @media (max-width: 300px) {
    font-size: 12px;
  }
}

.applogo {
  display: flex;
  justify-content: center;
}

.column-two {
  display: flex;
  justify-content: center;
}

.column-two img {
  width: 275px;
  object-fit: cover;
  border-radius: 20%;
  border: 2px solid black;
  align-items: center;
}

.link-container {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.linkedin img, .github img  {
  width: 50px;
  height: 50px;
  filter: brightness(0);
}

.linkedin a, .github a {
  margin: 0 10px;
}

.linkedin, .github {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.github:hover, .linkedin:hover {
  transform: scale(1.3);
  color: rgb(255, 255, 255);
}

@keyframes move-bg {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.theme-photo-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12px 24px;
  border-radius: 20%;
  border-width: thick;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.theme-photo-container:hover .theme-text {
  opacity: 5;
  padding: 12px 24px;
  border-color: rgb(255, 255, 255);
  border-width: thick;
}

@media (max-width: 1250px) and (min-resolution: 200dpi), (max-width: 2000px) and (min-resolution: 2dppx) {
  .name {
    font-size: clamp(1.5rem, 10vw, 2rem);
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 20px;
  }

  .content-container-box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .home-container {
    padding: 10px;
  }

  .content-container-box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .column-one,
  .column-two {
    width: 100%;
  }
}