.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 100px;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.26),
    rgba(71, 71, 71, 0.669),
    rgba(0, 0, 0, 0.26)
  );
  border-radius: 0 0 50px 50px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 110px;
  text-align: center;
  color: white;
}

.navbar ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-image: url(https://static.thenounproject.com/png/1670710-200.png);
  background-size: cover;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.navbar ul li:hover::before {
  opacity: 1;
}

.navbar ul li button:hover {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
}

.navbar button {
  background: transparent;
  border: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
}