.navbar {
    background-color: #c285f5;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar ul li {
    position: relative;
    padding-left: 25px;
  }
  
  .navbar ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-image: url(https://static.thenounproject.com/png/1670710-200.png); /* heart icons */
    background-size: cover;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar a {
    text-decoration: underline;
    color: white;
  }

  .squiggle-shape {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    line-height: 0;
    fill: rgba(255, 47, 29, 0.582);
    min-width: 100vw;
  }